* {
  box-sizing: border-box;
  margin:0 ;
}

@font-face {
  font-family: "pixel";
  src: url("fonts/freepixel-webfont.woff") format("woff");
}

h1 {
  font-size: 60px;
  text-align: center;
  font: "pixel";
}

#modificadores {
  text-align: center;
  margin: 0 auto;
  padding: 0 auto;
  display: flex;
  justify-content: center;
}

.color {
  height: 40px;
  width: 40px;
  margin: 3px;
  border: 1px solid black;
}

.table-row {
  display: table-row;
}

.pixel {
  display: table-cell;
  background-color: white;
  border: 1px solid black ;
}

#board-range {
  position: absolute;
  left: 50%;
  top: -35px;
  transform: translateX(-50%);
}

#color-palette {
  position: absolute;
  top: 50%;
  left: -100px;
  transform: translateY(-50%);
}

#pixel-board {
  margin: auto;
  position: relative;
  margin-top: 50px;
}

#visible-board {
  width: min-content;
  margin: 0 auto;
}

#header {
  background-color: rgb(168, 168, 168);
  padding: 3px;
}

#header-display-hide {
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  background-color: rgb(168, 168, 168);
  width: 56px;
  height: 30px;
  text-align: center;
  padding: 4px;
  display: inline-block;
}
